@import url('https://fonts.googleapis.com/css2?family=Anton&family=Crimson+Text&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Crimson Text', serif;
  list-style: none;

}
body{
  background: #e9f4f5;
  font-size: 15px;
  letter-spacing: 1.3px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
